pre code {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

code {
  border: 1px solid #ffffff;    /* white border */
  border-radius: 3px;
  padding: 1px 4px;
}
